/.env
/Downloads/Bombeiro acorda de um coma de 10 anos.m4a
/Downloads/CHINÊS DE POBRE A MILIONÁRIO #3continentes #podcast.m4a
/Downloads/Como eu estudo programação atualmente.m4a
/Downloads/FRANCÊS sobre VIVER no BRASIL....m4a
/Downloads/How to Learn Coding FAST And Make Cool Stuff.m4a
/Downloads/Perguntando P21 Devs Seniors+ Seus Melhores Conselhos Para Iniciantes.m4a
/Downloads/Projetos REALMENTE úteis para iniciantes em Python.m4a
.idea/